# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignorar arquivos de cache do Laravel
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs

# IDEs e editores
*.sublime-project
*.sublime-workspace
*.idea
*.vscode
*.swp
*.DS_Store
*.log

# Docker
docker-compose.override.yml

# Arquivos do sistema
Thumbs.db
.DS_Store
